.container {
	position: relative;
	width: 30%;
	height: auto;
	float: left;
	/* padding-bottom: 30%;= width for a 1:1 aspect ratio */
	margin: 1,66%;
	overflow: hidden;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.container:hover .overlay {
	width: 100%;
}

.text {
	white-space: nowrap;
	color: white;
	font-size: 12px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}